# OS & IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
.DS_Store
Thumbs.db

# Java & Maven
**/target/
**/*.class
**/*.jar
!**/gradle/wrapper/gradle-wrapper.jar
!**/.mvn/wrapper/maven-wrapper.jar
**/cp.txt

# Node & Angular
**/node_modules/
**/dist/
**/.angular/
**/*-debug.log*

# Uploads & Temp
**/uploads/*
!**/uploads/.gitkeep
